.top{
    background: url("../images/top-bg.png") no-repeat center top/100% 131px;
}

.top-bar{
    padding-left: 15px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFF;
}
.top-bar .min,.top-bar .close{
    height:25px;
    width: 25px;
    cursor: pointer;
}
.top-bar .min:hover,.top-bar .close:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.top-bar .min{
    border-right: 1px solid #60b85f;
    margin-right: 1px;
    background: url("../images/min-bar.png") no-repeat center center;
}
.top-bar .close{
    border-left: 1px solid #60b85f;
    background: url("../images/close-bar.png") no-repeat center center;
    margin-right: 5px;

}
.user-info{
    padding-left: 15px;
    margin-top: 10px;
}
.user-info .img{
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}
.user-info img{
    height: 55px;
    display: block;
    width: 55px;
    margin: 1px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.user-info .info{
    margin-left: 70px;
}
.user-info .status{
    color: #ffffff;
}
.user-info .info .state{
    height: 25px;
    position: relative;
}
.user-info .info .state:hover{
    opacity: 0.85;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.user-info .info .display{
    cursor: pointer;
    display: inline-block;
}
.user-info .info .display i{
    color: #ffffff;
}
.user-info .info ul.abs{
    top: 25px;
    left: 0;
    width: 80px;
    background: #ffffff;
    display: none;
    z-index:100;
}
.user-info .info ul.abs li{
    border-bottom: 1px solid #cccbd0;
    line-height: 25px;
    cursor: pointer;
}
.user-info .info .w20{
    text-align: center;
}
.w20 [class*="icon-"] {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.user-info .info .name{
    color: #ffffff;
    font-size: 14px;
}
.user-info .info .log-name input{
    background: transparent;
    border: none;
    width: 200px;
    color: #ffffff;
}
/*.user-info .info .log-name input:focus{*/
    /*background: #ffffff;*/
/*}*/
.user-info .info .log-name input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ffffff;
}
.user-info .info .log-name input:-moz-placeholder, textarea:-moz-placeholder {
    color:#ffffff;
}
.user-info .info .log-name input::-moz-placeholder, textarea::-moz-placeholder {
    color:#ffffff;
}
.user-info .info .log-name input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#ffffff;
}

.top .search{
    height: 30px;
    line-height: 30px;
    background: url("../images/top-search.png") no-repeat center center /100% 30px;
    margin-top: 8px;
    position: relative;
}
/*搜索列表*/
.top .search .ResultList{
    position: absolute;
    top: 30px;
    left:0;
    background: #c2ffc5;
    width: 100%;
    height: 100%;
    z-index: 101;
    display: none;
    overflow: hidden;
}
.top .search .ResultList .listbar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 12px;
    z-index: 102;
    background: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
}
.top .search .ResultList .inner{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
.top .search .ResultList .listbar .list-scrollbar{
    width: 100%;
    height: 30px;
    background: #c1bfc0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.top .search .ResultList .listbar:hover{
    background: #d8d5d7;
}
.top .search .ResultList .listbar:hover .list-scrollbar{
    background: #818081;
}
.top .search .ResultList .ListItem{
    border-bottom: 1px solid #cccccc;
    padding: 5px 10px;
    cursor: pointer;
}
.top .search .ResultList .ListItem:hover{
    background: #fbefc1;
}
.top .search .ResultList .img{
    float: left;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.top .search .ResultList .img img{
    height: 100%;
    width: 100%;
}
.top .search .ResultList .info{
    margin-left: 35px;
    line-height: 30px;
    color: #cccccc;
    font-size: 13px;
}
.top .search .ResultList .info .name{
    color: #333333;
    margin-right: 5px;
    font-size: 15px;
}



.top .search input[type=text]{
    height: 30px;
    margin-left: 20px;
    width: 250px;
    border: none;
    background: transparent;
    color: #ffffff;
}
/*.top .search input[type=text]:focus{*/
    /*background: #ffffff;*/
/*}*/
.top .search input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ffffff;
}
.top .search input:-moz-placeholder, textarea:-moz-placeholder {
    color:#ffffff;
}
.top .search input::-moz-placeholder, textarea::-moz-placeholder {
    color:#ffffff;
}
.top .search input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#ffffff;
}
.top .search input[type=button]{
    height: 30px;
    width: 30px;
    background: url("../images/search-new.png") no-repeat center center;
    cursor: pointer;
}
/*12-5 add*/
.top .search span[class*=icon-]{
    display: block;
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
/***********/
.check-item{
    height: 35px;
    background: url("../images/check-item.png") no-repeat center center /100% 35px;

}
.check-item .item{
    height: 35px;
    width: 33.33333%;
    line-height: 35px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.check-item .item i{
    color: #cdccca;
    font-size: 20px;
}
.check-item .item.cur{
    background: url("../images/check-item-cur.png") no-repeat center center / 100% 35px;
}
.check-item .item.cur i{
    color: #20a688;
}
.bottom{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    position: relative;
    background: url("../images/bottom.png") no-repeat center center /100% 45px;
}
.bottom .setting-box{
    position: absolute;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    top: -190px;
    left: 30px;
    z-index: 100;
    display: none;
    background: #ffffff;
}
.bottom .setting-box .sftp{
    display: block;
    color: #000000;
    font-size: 16px;
    border-bottom: 1px solid #c7c6c4;
    padding: 0 15px;
    background: url("../images/sftp.png")no-repeat 120px center;
}
.bottom .function-btn{
    padding: 0 15px;
    color: #000000;
    font-size: 12px;
    line-height: 25px;
}
.bottom .function-btn:hover{
    background: #cccccc;
    cursor: pointer;
}
.bottom .function-btn span{
    line-height: 25px;
    color: #b6b5b1;
}
.bottom .bottom-f{
    background: #e7e5f3;
    line-height: 35px;
}
.bottom .bottom-f .s_btn{
    color: #3dad5d;
    font-size: 12px;
    line-height: 35px;
    display: block;
    float: left;
    padding: 0 10px;
}
.bottom .bottom-f .s_btn:hover{
    text-decoration: underline;
}
.bottom .bottom-f .s_btn.quit{
    background: url("../images/quit.png")no-repeat left center;
    padding: 0 20px;
    margin-left: 5px;
}
.bottom input[type = button]{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
.bottom input[type = button]:hover{
    opacity: 0.85;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.bottom input[type= button].setting{
    background: url("../images/setting.png ") no-repeat center center;
}
.bottom input[type= button].volume{
    background: url("../images/volume.png ") no-repeat center center;
}
.bottom input[type= button].plus{
    background: url("../images/plus.png ") no-repeat center center;
}
.bottom input[type= button].menu{
    background: url("../images/menu.png ") no-repeat center center;
}
.un-visible{
    display: none;
}
.top,.tab_group,.bottom{
    min-width: 300px;
}
.tab_group .tab_1{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.tab_group .tab_2{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.tab_2 .SFL,.tab_1 .history-list{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.tab_2 .SFL .inner,.tab_1 .history-list .inner{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
.tab_2 .SFL .listbar,.tab_1 .history-list .listbar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 12px;
    z-index: 100;
    background: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}
.tab_2 .SFL .listbar .list-scrollbar,.tab_1 .history-list .listbar .list-scrollbar{
    width: 100%;
    height: 30px;
    background: #c1bfc0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.tab_2 .SFL .listbar:hover,.tab_1 .history-list .listbar:hover{
    background: #d8d5d7;
}
.tab_2 .SFL .listbar:hover .list-scrollbar,.tab_1 .history-list .listbar:hover .list-scrollbar{
    background: #818081;
}
.tab_group .tab_3{
    overflow-x: hidden;
    overflow-y: hidden;
}
.history-list li{
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.history-list li img{
    height: 45px;
    width: 45px;
    border-radius: 5px;
}
.history-list li::after{
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
    display: block;
}
.history-list li .info{
    margin-left: 60px;
}
.history-list li .info .name{
    color: #333333;
}
.history-list li .info .job{
    color: #666666;
}
.history-list li.has-message{
    background: #eaebf2;
}
.history-list li.has-message img{
    border: 1px solid #20a688;
}
.history-list li .message{
    top: 15px;
    right: 20px;
    background: #f56c0b;
    width: 20px;
    text-align: center;
    line-height: 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    color: #ffffff;
}
.friend-title{
    height: 45px;
    line-height: 45px;
    color: #000000;
    padding-left: 15px;
    cursor: pointer;
}
.friend-title span[class*=icon-]{
    color: #999999;
}
.friend-list{
    display: none;
}
.friend-list li{
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.friend-list li a{
    display: block;
    cursor: pointer;
}
.friend-list li .img{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    text-align: center;
    float: left;
    overflow: hidden;
    position: relative;
}
.friend-list li .img .onlineTag{
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../images/trans50.png") repeat;
    height: 20px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    width: 100%;
    font-size: 8px;
}
.friend-list li .img img{
    height: 100%;
}
.friend-list li.online-item .img .onlineTag{
    display: none;
}
.friend-list li::after{
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
    display: block;
}
.friend-list li .info{
    margin-left: 60px;
}
.friend-list li .info .name{
    color: #333333;
}
.friend-list li .info .job{
    color: #666666;
}
.friend-list li.online-item img{
    border: 1px solid #20a688;
}
.friend-list li .message{
    top: 15px;
    right: 20px;
    background: #f56c0b;
    min-width: 20px;
    text-align: center;
    line-height: 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    color: #ffffff;
}
.group-list li{
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.group-list li img{
    height: 45px;
    width: 45px;
    border-radius: 5px;
}
.group-list li::after{
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
    display: block;
}
.group-list li .info{
    margin-left: 60px;
}
.group-list li .info .name{
    color: #333333;
    line-height: 45px;
}

/*聊天界面*/
.chat-tab{
    height: 100%;
    width: 100%;
    background: url("../images/chat-tab-bg.png") no-repeat center top / 100% 161px;
}
.chat-tab .title{
    height: 80px;
    background: url("../images/chat-tab.png") repeat-x;
}
.chat-input{
    height: 129px;
    border-top: 1px solid #cccccc;
    padding-left: 15px;
}
.chat-input .function-item{
    cursor: pointer;
    color: #8a8a8c;
    display: inline-block;
    font-size: 15px;
    height: 20px;
    width: 20px;
}
.chat-input .function-item:hover{
    opacity: 0.85;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.chat-input .icon-face{
    display: block;
    margin-top: 6px;
    width: 100%;
    height: 100%;
    background: url("../images/icon-face.png") no-repeat center center;
}
.message-log{
    margin-top: 3px;
}
.message-log span{
    color: #8a8a8c;
    font-size: 16px;
}
.message-log a{
    color: #000;
}
.submit-content{
    margin-top: 10px;
    padding-right: 120px;
    height: 85px;
}
.submit-button{
    background: #20a088;
    display: block;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 5px;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    outline: none;
    border: none;
}
.submit-input{
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    font-size: 14px;
}
.chat-content{
    overflow-x: hidden;
    overflow-y: scroll;
}
.chat-content .chat-item{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.chat-content .chat-other{
    display: inline-block;
    float: left;
    line-height: 20px;
    padding: 5px 10px;
    border: 1px solid #eaeaea;
    background: #f3f3f3;
    border-radius: 8px;
    position: relative;
}
.chat-content .chat-other::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px 10px;
    border-color: transparent #eaeaea transparent transparent;
    top: 5px;
    left: -20px;
}
.chat-content .chat-other::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px 10px;
    border-color: transparent #f3f3f3 transparent transparent;
    top: 5px;
    left: -18px;
}
.chat-content .chat-my{
    display: inline-block;
    float: right;
    line-height: 20px;
    padding: 5px 10px;
    border: 1px solid #dff0d8;
    background: #ebfbe3;
    border-radius: 8px;
    position: relative;
}
.chat-content .chat-my::before{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 5px 10px;
    border-color: transparent transparent transparent #dff0d8;
    top: 5px;
    right: -20px;
}
.chat-content .chat-my::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 5px 10px;
    border-color: transparent transparent transparent #ebfbe3;
    top: 5px;
    right: -18px;
}
.chat-content .chat-other .message-author{
    position: absolute;
    top: -20px;
    left: 5px;
    overflow: visible;
    white-space: nowrap;
}
.chat-content .chat-my .message-author{
    position: absolute;
    right: 5px;
    top: -20px;
    overflow: visible;
    white-space: nowrap;
}
.chat-content .message-author .yourself{
    color: #519e3e;
    font-size: 12px;
    margin: 0 5px;
}
.chat-content .message-author .time{
    color: #929090;
    font-size: 10px;
}
/*发送文件消息，样式。*/
.chat-item .fileContent{
    min-width: 260px;
}
.chat-item .fileContent .img{
    float: left;
    height: 54px;
    width: 48px;
    position: relative;
}
.chat-item .fileContent .img .TypeTip{
    height:100%;
    width:100%;
}
.chat-item .fileContent .img .successTip{
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 0;
    right: 0;
}
.chat-item .fileInfo{
    margin-left: 65px;
}
.chat-item .fileInfo .name{
    color: #333333;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.chat-item .fileInfo .size{
    color: #777777;
    font-size: 12px;
}
.chat-item .fnBtn{
    margin-top: 5px;
    border-top: 1px solid #dff0d8;
    height: 25px;
    line-height: 25px;
}
.chat-item .fnBtn .msgtips{
    color: #666666;
    font-size: 12px;
}
.chat-item .fnItem{
    color: #3eaa5d;
    font-size: 14px;
    line-height: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.chat-item #fileProgress{
    width: 100%;
    height: 5px;
}
/**********************************************************/

.chat-login{
    background: url("../images/chat-login.png") no-repeat center top /100% 190px;
    min-height: 182px;
}
.chat-login .logo{
    background: url("../images/chat-logo.png") no-repeat center center;
    height: 128px;
    width: 102px;
    margin: 15px auto;
}
.login-form{
    width: 400px;
    height: 140px;
    margin: 35px auto;
}
.login-form .user-img{
    height: 90px;
    width: 90px;
}
.login-form .user-img img{
    display: block;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.login-form .form-input{
    width: 200px;
    margin: 0 10px;
    position: relative;
}
.login-form .form-input input[type=text],.login-form .form-input input[type=password]{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.login-form .form-input input[type=text]:hover,.login-form .form-input input[type=password]:hover{
    border-color: #20a088;
    z-index: 10;
}
.login-form .form-input input.number{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}
.login-form .form-input input.password{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    top: -1px;
}
.login-form .form-input input[type=button],.login-form .form-input input[type=submit]{
    display: block;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    width: 100%;
    border-radius: 5px;
    background: #20a088;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
/*下拉框按钮*/
.login-form .form-input span{
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #cccccc;
    right: -10px;
    cursor: pointer;
    z-index: 100;
}
.login-form .Down-select{
    position: absolute;
    border: 1px solid #20a088;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 31px;
    left: 0;
    width: 209px;
    z-index: 20;
    background: #ffffff;
    display: none;
}
.login-form .Down-select .HistoryItem{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}
.login-form .Down-select .HistoryItem:hover{
    background: #20a088;
    color: #ffffff;
}
.login-form .Down-select .HistoryItem .img{
    height: 30px;
    width: 30px;
    float: left;
    overflow: hidden;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.login-form .Down-select .HistoryItem .img img{
    height: 100%;
    width: 100%;
}
.login-form .Down-select .HistoryItem .username{
    margin-left: 40px;
    line-height: 30px;
}
.login-form .HistoryItem span.icon-remove{
    top: 0;
    right: 0;
}
.login-form .HistoryItem span.icon-remove:hover{
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.login-form .help{
    display: block;
    color: #20a088;
    line-height: 30px;
    margin-left: 15px;
}

/*///////////////////////////////////////////////////*/
/*窗口右下角提示弹窗*/
.Tips-window{
    position: absolute;
    height: 100%;
    width: 100%;
}
.Tips-window .title{
    height: 30px;
    background: #3eaa5d;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
}
.Tips-window .icon-remove{
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.Tips-window .icon-remove:hover{
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.Tips-window .img{
    height: 20px;
    width: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}
.Tips-window .img img{
    height: 100%;
    width: 100%;
}
.Tips-window .target-info{
    margin-left: 25px;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
}
.Tips-window .for{
    color: #000000;
    font-size: 15px;
    line-height: 25px;
    margin-top: 5px;
    text-indent: 1em;
}
.Tips-window .fileContent{
    padding: 0 10px;
}
.Tips-window .fileContent .img{
    float: left;
    height: 54px;
    width: 48px;
    position: relative;
}
.Tips-window .fileContent .img .TypeTip{
    height:100%;
    width:100%;
}
.Tips-window .fileContent .img .successTip{
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 0;
    right: 0;
}
.Tips-window .fileInfo{
    margin-left: 65px;
}
.Tips-window .fileInfo .name{
    color: #333333;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.Tips-window .fileInfo .size{
    color: #777777;
    font-size: 12px;
}
.Tips-window .fnBtn{
    margin-top: 5px;
    border-top: 1px solid #3eaa5d;
    height: 25px;
    line-height: 25px;
    width: 95%;
    margin-left: 2.5%;
}
.Tips-window .fnBtn .msgtips{
    color: #666666;
    font-size: 12px;
    margin-left: 10px;
}
.Tips-window .fnItem{
    color: #3eaa5d;
    font-size: 14px;
    line-height: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.Tips-window #fileProgress{
    width: 95%;
    margin-left: 2.5%;
    height: 5px;
}







































